body {
padding-left: 11em;
font-family: Arial, Helvetica, sans-serif;
color: rgb(80, 255, 64);
background-color: rgb(100, 122, 128); }
ul.navbar {
list-style-type: none;
padding: 0;
margin: 0;
position: absolute;
top: 2em;
left: 1em;
width: 9em }
h1 {
font-family: Arial, Helvetica, sans-serif ;
text-shadow: 2px 2px rgb(53, 40, 16);
text-transform: uppercase}
ul.navbar li {
background: #400080;
margin: 0.5em 0;
padding: 0.3em;
border-right: 1em solid black }
ul.navbar a {
text-decoration: none }
a:link {
color: rgb(218, 147, 0)}
a:visited {
color: crimson }
address {
margin-top: 1em;
padding-top: 1em;
border-top: thin dotted }
#contenido {
display: block;
margin: auto;
width: auto;
min-height:400px;
}
